/* ===== styles minimal clear ===== */
*,*::before,*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
}

body {
    font-family: Lato;
    font-size: 12px;
    color: #242424;
}

/* ------------------ */
.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
/* ------------------ */


.header {

}
.header__container {
}
.header__logo {
}
.header__menu {
}
.menu {
}
.menu__list {
}
.menu__item {
}
.menu__link {
}
.header__button {
}
.button {
}
.button-blue {
}